body {
    margin: 0;
}

.controls {
    text-align: center;
    padding-top: 20px;
}

.controls input {
    height: 24px;
}

.controls .error-text {
    height: 18px;
    padding-top: 6px;
    color: red;
}

.container {
    padding: 20px 1%;
    position: relative;
}

.content-wrap {
    display: flex;
    flex-flow: row wrap;
}

.content-wrap .content-item {
    padding: 16px 0;
    width: 8%;
    margin: 4px 1%;
    line-height: 8px;
    text-align: center;
    border-radius: 4px;
    background-color: #e6e6e6;
    color: #999;
    user-select: none;
}

.content-item:first-child {
    background-color: darksalmon;
    color: #fff;
}

.content-item.hidden {
    display: none;
}